/* Used for declaring global CSS variables */
:root {
    --color-theme-1: rgba(27, 46, 60, 1);
    /* --color-theme-2: rgb(249, 171, 25); */
    --color-theme-2: rgb(235, 235, 235);
    --font-theme-1: rgba(208, 209, 211, 1);
    --link-color: rgba(253, 185, 36, 1);
}

/* Make changes that affect entire html document */
html {
    word-spacing: 2px;
    line-height: 2rem;
    text-align: justify;

    /* Add smooth scrolling */
    scroll-behavior: smooth;
}

/* Style body element */
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: var(--color-theme-2);
}

/* Make all links appear yellow */
a {
    color: var(--link-color);
    text-decoration: none;
	font-weight: 600;
}

/* Add flexbox to center items horizontally */
h2,
.segment,
footer,
h3,
.event-link {
    display: flex;
    justify-content: center;
}

/* Style header */
header {
    padding: 10px 350px;
}

/* Style nav element */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Style nav links */
nav a {
    font-size: 22px;
    padding: 0px 30px 25px 30px;
}

/* Underline links upon mouse hover */
a:hover {
    text-decoration: underline;
}

/* Specify dimensions of website logo */
#logo {
    max-width: 300px;
    max-height: 300px;
}

/* Segments are the main content container in each section */
.segment {
    padding-left: 20px;
    padding-right: 20px;
}

/* Style text contained within segment */
.segment-text {
    max-width: 50%;
    padding: 0px;
    margin-bottom: 20px;
}

/* Make every second segment dark blue */
.block-theme {
    background-color: var(--color-theme-1);
    color: var(--font-theme-1);
}

/* Style team class */
.team-container {
    display: flex;
    justify-content: space-between;
}

.team-member {
    width: 500px;
}

#left {
    display: flex;
    justify-content: flex-start;
}

#center {
    display: flex;
    justify-content: center;
}

#right {
    display: flex;
    justify-content: flex-end;
}

#event-color {
    color: rgb(73, 97, 253);
}

.event-link {
    color: red;
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

.bolded {
    font-weight: bold;
}

.yellow-font {
    color: var(--link-color);
}

/* Adjust height and width of up arrow */
.up-arrow {
    height: 25px;
    width: 25px;
}

/* Style back to top button */
#go-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1vw; /* Place the button at the bottom of the page */
    right: 1vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid black; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--button-background); /* Set a background color */
    cursor: none; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

/* Responsive layout - 
Changes attributes if window is less than 1471 px*/
@media screen and (max-width: 1471px) {

    /* Style text contained within segment */
    .segment-text {
        max-width: 70%;
        padding: 0px;
    }
}

/* Responsive layout - 
Changes attributes if window is less than 800 px*/
@media screen and (max-width: 800px) {
    body {
        min-width: 400px;
    }

    /* Style text contained within segment */
    .segment-text {
        max-width: 50%;
        padding: 0px;
    }
}